body{
    background-color: #F5F5F5;
}

.header{
    margin: 10px auto;
    background-color: white;
    border-bottom: 5px solid #d9edf7;
}

.col-md-2.menu{
    width: 21%;
}

.hover:hover{
    background-color: #f5f5f5;
}

h2{
    margin-top: 5px;
    margin-bottom: 5px;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.profile{
    height: 60px;
    margin: 5px auto;
}

.profile-name{
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: right;
}

.menu{
    border-right: 1px solid #eee;
    background-color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    min-height: 480px;
}
.content{
    min-height: 480px;
}
.menu > ul{
    list-style-type: none;
}


.menu > ul > li{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 22px;
}

.post-item{
    background-color: white;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0px;
    width: 200px;
    margin: 2px auto;
}