<div class="container">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-9">
                        <h3><code>HackMe</code></h3>
                        <small>Learn Security from Coding</small>
                    </div>
                    <div class="col-md-3">
                        <div class="row profile">
                            <div class="col-md-8 profile-name">Your Name Here</div>
                            <div class="col-md-3"><img src="" width="60px" height="60px" alt="profile" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content row">
                <div class="col-md-3 menu">
                    <ul>
                        <li><a href="#">Beranda</a></li>
                        <li><a href="#">Account</a></li>
                        <li><a href="#/settings">Setting</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <ui-view></ui-view>
                </div>
            </div>
        </div>